:root {
  --border-radius: 4rem;
}
.root {
  height: 100%;
}
body {
  font-size: 16px; /* px fallback */
  font-size: 1.6rem; /* default font-size for document */
  line-height: 1.5; /* a nice line-height */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%; /* Now 10px = 1rem! */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.pr-20rem {
  padding-right: 20rem;
}

.pr-15rem {
  padding-right: 15rem;
}
