.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: var(--border-radius);
}

.button--primary {
  background-color: rgb(40, 73, 153);
  box-shadow: 0 2.8px 2.2px rgba(40, 73, 153, 0.045),
    0 6.7px 5.3px rgba(40, 73, 153, 0.065),
    0 12.5px 10px rgba(40, 73, 153, 0.08),
    0 22.3px 17.9px rgba(40, 73, 153, 0.095),
    0 41.8px 33.4px rgba(40, 73, 153, 0.115),
    0 100px 80px rgba(40, 73, 153, 0.16);
}
