.candidate_application_container {
    padding: 0 40px;
    overflow: scroll;
}

.tab-container {
    margin-bottom: 10px;
}

.data-row {
    display: flex;
    margin-bottom: 10px;
}

.flex-1 {
    flex: 1;
}

.sub-content {
    margin-bottom: 20px;
}

.sub-content-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.word_count_row {
    display: flex;
    justify-content: flex-end;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.btn {
    background: transparent;
    border: 0;
    color: blue;
    padding: 0;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
}

.applicants_page_subheader {
    margin-top: -60px;
}

.applicants_page_subheader p {
    margin: 4px 0;
    font-size: 14px;
}

.applicants_page_subheader_row {
    display: flex;
    align-items: flex-end;
}

.applicants_page_subheader_row > div {
    margin-right: 10px;
}

.subheader_actions {
    display: flex;
}

.subheader_actions button {
    margin-right: 5px;
}

.filter_count {
    margin-left: 10px !important;
    display: flex;
    align-self: flex-end;
}

.document_row {
    display: flex;
    margin-bottom: 50px;
}

.document_row p {
    font-size: 16px;
    margin-bottom: 5px;
}

.image_container {
    width: 100px;
}

.displayed_reference_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.green_bordered_button {
    color: #219653;
    border: 1px solid #219653;
}

.green_bordered_button:hover {
    color: #219653;
    border: 1px solid #219653;
    opacity: 0.7;
}

.orange_bordered_button {
    color: #F2994A;
    border: 1px solid #F2994A;
}

.orange_bordered_button:hover {
    color: #F2994A;
    border: 1px solid #F2994A;
    opacity: 0.7;
}

.red_bordered_button {
    color: #E00E20;
    border: 1px solid #E00E20;
}

.red_bordered_button:hover {
    color: #E00E20;
    border: 1px solid #E00E20;
    opacity: 0.7;
}

.blue_bordered_button {
    color: #284999;
    border: 1px solid #284999;
}

.blue_bordered_button:hover {
    color: #284999;
    border: 1px solid #284999;
    opacity: 0.7;
}

.text-12 {
    font-size: 12px;
}

.text-10 {
    font-size: 10px;
}

.ant-modal-body .ant-input, .ant-modal-footer .ant-btn {
    border-radius: 0;
}

.space-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

.score-input {
    width: 60px;
    margin-right: 5px;
    border: 1px solid black;
}

.margin-0 {
    margin: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-right-50 {
    margin-right: 50px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-top-50 {
    margin-top: 50px;
}

.neg-margin-top-10 {
    margin-top: -10px;
}

.single-line-text {
    border: none;
    border-bottom: 1px solid black;
}

.items-start {
    align-items: flex-start;
}

.red_border {
    border: 1px solid red;
}
