.candidate_application_container {
    padding: 0 40px;
    overflow: scroll;
}

.tab-container {
    margin-bottom: 10px;
}

.data-row {
    display: flex;
    margin-bottom: 10px;
}

.flex-1 {
    flex: 1;
}

.sub-content {
    margin-bottom: 20px;
}

.sub-content-header {
    font-weight: bold;
    margin-bottom: 10px;
}

.word_count_row {
    display: flex;
    justify-content: flex-end;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

.btn {
    background: transparent;
    border: 0;
    color: blue;
    padding: 0;
    cursor: pointer;
    font-size: 14px;
}