.login-page {
  display: grid;
  grid-template-areas: 'main image';
  grid-template-columns: 50% 50%;
  min-height: 100vh;
}

.login-page__navigation {
  display: flex;
  justify-content: space-between;
}

.login-page__main {
  grid-area: main;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-page__image {
  grid-area: image;
  background-image: url('../assets/beach.jpeg');
  background-size: cover;
  background-position: center center;
}

/* FORM */

.login-form__h1,
.login-form__h3 {
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: 0 auto;
}

.login-form__button {
  width: 15rem;
}

.login-form__label {
  font-size: 75%;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.login-form__input {
  border: 1px solid rgb(223, 226, 229);
  font-size: 1.4rem;
  background: white;
  border-radius: var(--border-radius);
  padding: 1rem;
  padding-left: 1.5rem;
  margin-bottom: 2rem;
  outline: none;
}

.login-form__input::placeholder {
  color: rgb(223, 226, 229);
}

.login-form__link {
  color: rgb(107, 108, 111);
}
