.ant-table-thead .ant-table-cell {
  background-color: white;
  color: #c8c9cb;
}
.ant-table-tbody .ant-table-cell {
  color: #676b6e;
}
.management-component__h4 {
  font-weight: bold;
}
.management-component__container {
  background-color: white;
  padding: 8px;
  height: 100%;
}
.management-component__header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.management-component__actions {
  display: flex;
  justify-content: flex-end;
  min-width: 250px;
}
.management-component__search {
  margin-left: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid rgb(40, 73, 153);
}

.management-component__subheader {
  padding: 16px;
  border-width: 1px;
  border-color: black;
}

.management-component__subheader_title {
  margin: 4px 0;
  font-size: 14px;
}

.ant-modal-body .ant-input {
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
}

.ant-input:focus {
  box-shadow: 0 0 0 2px rgba(40, 73, 153, 0.2);
}

.ant-modal-footer .ant-btn:hover {
  color: rgb(40, 73, 153);
  border-color: rgb(40, 73, 153);
}

.ant-modal-footer .ant-btn-primary:hover {
  color: #ffffff;
}
.ant-pagination-item-active {
  border-color: rgb(40, 73, 153);
}

.ant-pagination-item-active a {
  color: rgb(40, 73, 153);
}
.ant-modal-footer .ant-btn {
  border-radius: 32px;
}
